

<div class="container">
  <div class="center">
    <h1>Stupid Coaching</h1>
    <p class="answer-card"><%= @answer %></p>
    <div style="margin-top: 40px;">
     <%= link_to 'Ask a new question', ask_path, id: "btn" %>
    </div>
  </div>
</div>
