
<div class="container">
  <h1>Ask your question</h1>

  <div class="form-style">
    <form action="/answer" method="get">
      <input  type="text" name="question" placeholder="type in your question...">
      <input type="submit" value="Ask!">
     </form>
  </div>
</div>
